.area-hover {
    fill: #FBC436;
}

.area-hover:hover {
    fill: #F9B505;
}

.interactive-map {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

svg {
    fill: #E3E3E3;
    height: 750px;
    width: 500px;
}

.svg-content{
    width: 500px;
    overflow: auto;
}

.svg-map {
    overflow: hidden;
}

.svg-map-and-zoom {
    width: 500px;
}